*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

header {
    width: 100vw;
    height: 100vh;
    background: url(img/background.jpeg) no-repeat 50% 50% ;
    background-size: cover;

}


/*PROJECTS*/

#id-projects {
    width: 100vw;
    margin-top: 8em;
    margin-bottom: 13em;
}
nav {
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 9;
}

nav ul {
    line-height: 40px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {

    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
}

nav.black ul li a{
    color: white;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #6D7993;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: none;
    border-bottom: #24292e solid 4px;
    color: #24292e;
    padding-bottom: 9px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #24292e;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: white;
    display: none;
}

/*    CONTACT*/

.reds {
    width: 5em;
    padding-top: 17px;
    padding-bottom: 9px;
}


.row-contact {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #e9eae4;
}

.row-contact p {
    font-size: 14px;
}


/*!*PROJECTS*!*/

.portfolio {
    background: white;
}
.portfolio .title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    padding-bottom: 1.2em;
    padding-top: 1.5em;
    color: #3F4448;
    text-shadow: 5px 5px 5px #aaa;
}

.title-contact {

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    padding-top: 1.5em;
    padding-bottom: 2.2em;
    color: #3F4448;
    text-shadow: 5px 5px 5px #aaa;


}

.col-contact{
    height: 100%;
    background: #FAFAFA;
}

.row-contact-icon {
    margin-top: 96px;
}

.section-contact {
    background: #FAFAFA;
    width: 100vw;
    margin-top: 8em;
}

.portfolio .galeria .card {
    margin-bottom: 40px;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    border-radius: .75rem;

}

.card:hover {
    background:#3f4448;
    color: white;
}

.card img {
    height: 100%;
    padding-top: 1.5em;

}

.btn-block{
    width: 50%!important;
}

nav.black .name {
    display: none;
}

nav.black ul li a:hover {
      color: #D3D3D3;
    border-bottom: #D3D3D3 solid 4px;
    text-decoration: none;
    padding-bottom: 9px;
}
.name {
    width: 100%;
    padding-left:40%;
    padding-top: 10%;
}

h4 {
    font-weight: bold;
    letter-spacing: 1pt;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: #24292e;
    text-shadow: 5px 5px 5px #aaa;
}

h6 {
    text-align: left;
    margin: 0;
    font-size: 1em;
    font-weight: 900;
    width: 50%;
    display: none;
    font-family: 'Poppins', sans-serif;
}
#centeralign {
    display: table-cell;
    vertical-align: middle;
}
/*ABOUT ME*/
.about-section {
    width: 100vw;
    margin-top: 8em;
    margin-bottom: 13em;


}
.about-section p {
    color: #6C757D;
    text-align: justify;
    text-space: 10;
    letter-spacing: 3px;
    line-height: 28px;
}


.photo {
    height: 70%;

}
.photo img {
    width: 84%;
    padding: 3%;

}
.about-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    padding-top: 1.5em;
    padding-bottom: 0.6em;
    color: #3F4448;
    text-shadow: 5px 5px 5px #aaa;
}

    /*knowledge*/

.about-knowledge{
    background: #FAFAFA;
    margin-top: 8em;
    padding-bottom: 13em;
}

.column-know{
    display: grid;
}


.contend {
    position: relative;
    width: 50%;
    margin: 1em;
}

.image {
    display: block;
    width: 7.93em;
    height: 7.93em;
    border-radius:100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7.93em;
    height: 7.93em;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(31, 31, 31, 0.9);
    border-radius:100%;

}

.contend:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*INF CONTACT*/
.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*FOOTER*/
.footer {
    height: 10vh;
    width: 100vw;
}

.nav-footer {
    background: #21262E;
    color: #c6c8ca;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media(max-width: 786px) {
    .name {
        padding-left: 10%;
        padding-top: 25%;
        text-align: center;
    }
    h4 {
        font-size: 2em;
    }
    h6 {
        font-size: 0.8em;
        font-weight: normal;
    }

    nav ul {
        max-height: 0;
        color: hsla(0,0%,100%,.7);
        background-color: #24292e;
    }

    nav.black ul {
        color: hsla(0,0%,100%,.7);
        background-color: #24292e;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block !important;
        z-index: 9;
    }


    .portfolio .title {
        font-size: 2em;
        padding: 1em 0;

    }

    .row-contact-icon {
         margin-top: 2.5em;
    }
}

@media(max-width: 760px) {
    .title-contact {
        padding: 0;
        margin-top: 0.7em;
        font-size: 2em;
    }
    .about-section p {
        color: #6C757D;
        text-align: justify;
        text-space: 5;
        font-size: 14px;

    }


}
@media (max-width: 600px)
{
    .about-section {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .about-knowledge {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #id-projects {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .section-contact {
        margin-top: 2em;
    }
}

@media(max-width: 768px) {
    .title-contact {
        margin-top: 0.7em;
        font-size: 2em;
    }

    .about-title {
        font-size: 2em;

    }

    .photo {
        height: auto;
        justify-content: center;
        display: flex;

    }

    .photo img {
        height: auto;
    }

    #centeralign {
        padding-left: 25%;
    }

}
